
.marginset {
  margin-top: 3%;
}

#revealplayer {
  height: 100px;
  font-size: 20px;
  margin-top: 20px;
  font-family: monospace;
}

#content {
  height: 50px;
  font-size: 20px;
  margin-top: 5%;
  font-family: monospace;
}

#next {
  display: none;
}

#role {
  display: none;
}
